{% extends "base.html" %}

{% block imports %}
  <script>
    function search() {
      let params = {q: $("#q").val(), genre: $("#genre").val()};
      $("#search-result").load("{{ url_for('search') }}" + "?" + $.param(params));
      return false;
    }

    $(document).ready(() => {
      search();
      $("#latest-movies").load("{{ url_for('latest_movies') }}");
    });
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card first">
      <div class="content">
        <h1>Últimas películas</h1>
      </div>
    </div>
    <div id="latest-movies"></div>
    <div class="card first">
      <div class="content">
        <h1>Búsqueda de películas</h1>
      </div>
    </div>
    <div class="card">
        <form class="form" onsubmit="return search()">
          <div class="row no-gap movie-search">
            <div class="content">
              <div class="row movie-search-params">
                <input type="text" id="q" placeholder="Búsqueda..."/>
                <select id="genre" onchange="search()">
                  <option value="" selected disabled hidden>Categoría</option>
                  {% for genre in genres %}
                    <option value="{{ genre.name }}">{{ genre.name }}</option>
                  {% endfor %}
                </select> 
              </div>
            </div>
            <div id="search-icon">
              <input class="submit" type="Submit" value="">
              <img src="./static/media/icons/search.png"/>
            </div>
          </div>
        </form>
    </div>
    <div id="search-result"></div>
  </div>
{% endblock %}