* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #4a4a4a;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 70px;
  background-color: #EEF5F6;
}

a {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  background-color:#ffda74;
}

footer {
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  background-color: #ffda74;
}

form {
  padding-bottom: 60px;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card.header {
  margin-top: 50px;
}

.card.horizontal {
  display: flex;
  justify-content: space-between;
}

.card .content {
  position: relative;
  padding: 15px 20px;
  width: 100%;
}

.card .content .title {
  font-size: 24px;
}

.card .content .subtitle {
  font-size: 20px;
}

.card .content .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.card .content .row.big-gap {
  column-gap: 25px;
}

.card .content .row.one-three {
  grid-template-columns: 1fr 3fr;
}

.card .content .row.two-three {
  grid-template-columns: 2fr 3fr;
}

.card .content input {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  border: solid 1px #d4d4d4;
  background-color: #ececec;
  font-size: 16px;
  font-weight: bold;
}

.card .content input.first {
  margin-top: 20px;
}

.card .content input.submit {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  border: none;
  background-color: #46DF6F;
}

.card .content input.submit.left {
  border-bottom-right-radius: 0;
}

.movie-card {
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
}

.movie-card .poster-placeholder {
  padding-top: 120%;
  background-color: deeppink;
}

.movie-card .content {
  padding: 10px;
}

.movie-card .content .title {
  font-size: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;
}


.detailed {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0px;
}

.detailed .poster-placeholder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 120%;
  background-color: deeppink;
}

.detailed .info {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.detailed .info .header {
  padding: 10px;
}

.details {
  display: grid;
  row-gap: 10px;
  padding: 10px;
  background-color: #DCDCDC;
}

.details .item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
}

.details .item .general {
  padding: 15px;
  background-color: #EFEFEF;
}

.details .item .specific {
  padding: 15px;
  padding-left: 10px;
  background-color: #FFFFFF;
}

.info .header .title {
  padding-left: 10px;
}

header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 32px;
}

.header h2 {
  font-size: 20px;
}

.header .buttons {
  display: flex;
  align-items: center;
}

.header .buttons a {
  margin-left: 15px;
  padding: 7px 20px;
  border-radius: 4px;
}

.header .buttons h2 {
  margin-right: 10px;
}

.login-image-placeholder {
  width: 100%;
  padding-top: 40%;
  background: linear-gradient(62deg, rgba(204,217,144,1) 0%, rgba(56,213,224,1) 100%);
}

.shopping-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #EEF5F6;
  padding: -10px 0px 0px 0px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.15);
}

.shopping-item {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  grid-template-rows: 10px 25px auto;
  background-color: white;
  margin: 0px 0px 10px 0px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}

.shopping-title {
  font-size: 20px;
}

.shopping-date {
  font-size: 20px;
}

.shopping-price {
  font-size: 20px;
  font-weight: bold;
  color: #6ABE44;
  text-align: right;
}

#cart {
  background-color: whitesmoke;
}

#login {
  background-color: #46DF6F;
}

#register {
  background-color: #67baf5;
}

#history {
  background-color: #85B7E9;
}

#logout {
  background-color: #FA8C8C;
}