{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="card first">
      <div class="content">
        <div class="row four-one">
          <h1>Carrito de compra</h1>
          <h1 class="price">Total: {{ total }}€</h2>
        </div>
      </div>
    </div>

    {% if not movies %}
      <div class="content">
        <h2 class="empty-cart-message">
          Tu carrito está vacío :(
        </h2>
      </div>
    {% else %}
      {% for movie in movies %}
      <div class="card shopping-cart-item">
          <div class="row one-three no-gap">
            <a class="poster-placeholder crop" href="{{ url_for('movie_detail', movie_id=movie.id) }}">
              <img src={{ movie.poster }} alt={{ movie.poster_alt }}>
            </a>
            <div class="info row">
              <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
                <h1>{{ movie.title }} ({{ movie.year }})</h1>
              </a>
              <h1 class="price right-text">{{ movie.price }}€</h1>
              <div></div>
              <a class="remove" href="{{ url_for('remove_from_cart', movie_id=movie.id) }}">
                Eliminar
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="checkout-bar">
        <a href="">Terminar compra</a>
      </div>
    {% endif %}
  </div>    
{% endblock %}