{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="card first">
      <div class="content">
        <h1>Historial de compras</h1>
      </div>
    </div>
    {% if not shopping_history %}
      Debug: no hay una sesión iniciada
    {% elif shopping_history|length == 0 %}
      Tu historial está vacío.
    {% else %}
      {% for item in shopping_history %}
        <div class="card">
          <div class="content">
            <div class="row shopping-item">
              <div class="dot"></div>
              <h1>{{ item.movie_title }}</h1>
              <h1>{{ item.date }}</h1>
              <h1 class="price">{{ item.price }}€</h1>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}