{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card first">
    <div class="content">
      <h1>Carrito de compra</h1>
    </div>
  </div>

  <div class="card">
    <a class="row two-three" href="{{ url_for('movie_detail', movie_id=1) }}">
      <div class="poster-placeholder">
        <img src="./static/media/posters/1.jpg" alt="taxi-driver">
      </div>
      <div class="shopping-cart-item-info">
        <h1 class="middle-text">Taxi Driver</h1>
        <h1 class="price">4.95€</h1>
      </div>
    </a>
  </div>


  <a class="container shopping-cart-link" href="{{ url_for('movie_detail', movie_id=1) }}">
    <div class="card first row no-gap detail">
      <div class="poster-placeholder">
          <img src="./static/media/posters/1.jpg" alt="taxi-driver">
      </div>
      <div class="info">
        <div class="content">
          <h1>Taxi Driver</h1>
        </div>
        <div class="details">
          <div class="type">Tipo de producto</div>
          <div class="data">a</div>
          <div class="type">Título original</div>
          <div class="data">a</div>
          <div class="type">Año</div>
          <div class="data">a</div>
          <div class="type">Dirección</div>
          <div class="data">a</div>
          <div class="type">Duración</div>
          <div class="data">a min.</div>
          <div class="type">Géneros</div>
          <div class="data">a</div>
        </div>
      </div>
    </div>
  </a>

  {% for movie in movies %}
    <div class="card">
      <div class="content">
        <a class="card row shopping-cart-item" href="{{ url_for('movie_detail', movie_id=movie.id) }}">
          <div class="poster-placeholder">
            <img src={{ movie.poster }} alt={{ movie.poster_alt }}>
          </div>
          <div class="content">
            <h1>{{ movie.title }}</h1>
            <h1 class="price">{{ movie.price }}€</h1>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}